# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
ENV/
env/

# ML Artifacts / Datasets (Optional)
*.csv
*.pkl

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
